/* variable de style */
* {
  --sans-serif: sans-serif;
  --color-fond: #e6c27f;
  --color-fond-hero: #fffcf5;
  --color-footer: #8e5552;
  --color-blue-HARU: #557373;
  --color-section: #ECE8DF;
  --font-H1: "Arima Madurai", sans-serif;
  --font-text: "Comfortaa", sans-serif;
  --font-sub-title: "Comfortaa", sans-serif;
}

/* style générale */
body {
  margin: 0px;
}
section {
  padding:0 5% 0 5%;
}

label{
  font-family: var(--font-sub-title);
}

.rounded{
  border-radius: 20px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-center{
  text-align: center;
}
.text-justifié{
  text-align: justify;
}
.color-section{
  background-color: var(--color-section);
  padding:5% 0 5% 0;
}

footer {
  background: linear-gradient(
    0.45turn,
    var(--color-footer),
    90%,
    rgba(128, 84, 84, 0.671)
  );
  height: 150px;
}

a {
  color: inherit;
  display: flex;
  text-decoration: none;
  font-family: var(--font-sub-title);
}

h1 {
  font-family: var(--font-sub-title);
  font-size: 2em;
  margin: 3% 0 3% 0;
}
p,
h2, h3 {
  font-family: var(--font-text);
  margin-top: 0px;
  
}

.btn {
  padding: 3%;
  border-radius: 30px;
  border: 3px solid white;
  background-color: var(--color-fond);
  color: white;
  font-weight: bold;
  transition-duration: 0.2s;
  -webkit-transform: scale(1);
  transform: scale(1);
  text-decoration: none;
  font-family: var(--sans-serif);
  width: max-content;
  height: max-content;
  transition: 0.5s;
}
.btn:hover {
  transition: all 0.5s;
  color: var(--color-fond);
  background-color: white;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.336);
}

.text-media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top:5%;
}
.text-media h1, h3{
text-align: center;
margin-bottom: 2%;
}
.text-media p{
  width:100%;
}

.card-media-description{
  border-radius: 20px;
  background-color: var(--color-blue-HARU);
  margin: 5% 5%;
  padding:  5%  5%;
  color:var(--color-fond-hero);
  font-weight: bold;
  text-align: center;
}

.btn-contour {
  padding: 1% 3% 1% 3%;
 margin: 2% 0 2% 0;
  border-radius: 30px;
  border: 3px solid var(--color-fond);
  background-color: white;
  color: var(--color-fond);
  font-weight: bold;
  transition-duration: 0.2s;
  -webkit-transform: scale(1);
  transform: scale(1);
  text-decoration: none;
  font-family: var(--sans-serif);
  width: max-content;
  height: auto;
  transition: 0.5s;
}
.btn-contour:hover {
  transition: all 0.5s;
  color: white;
  background-color: var(--color-fond);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.336);
}
.circle {
  border-radius: 50%;
}

.size {
  width: 40%;
}

form{
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 1px solid black;
}

/*------ navigation------- */
nav {
  display: flex;
  align-items: center;

}

ul {
  width: 150%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

ul li {
  display: flex;
justify-content: space-around;
}

img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

#logo {
  width: 15%;
}

/*----- Hero -------*/
.hero-text{
  margin:0 2% 0 2% ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 /* height: 25rem; */
}
.hero-text p{
text-align: center;
} 
#hero {
  min-height:230px;
  background-color: var(--color-fond-hero);
  display: flex;
  flex-direction: column-reverse;
  transition: 0.5s;
  box-shadow: 0px 0px 3px 3px rgba(13, 13, 14, 0.089);
}
#hero:hover {
  transition: 0s;
  box-shadow: 0px 6px 15px 5px rgba(11, 11, 68, 0.137);
}
#hero p {
  padding:0 3% 0  5% ;
}
#img-hero img{
  text-align: center;
  margin:  5% 0 5% 0;
  transform: scaleX(-1);
  object-fit: cover;
  height: 10rem;
}

#slogan{
  font-size:30px;
  color: var(--color-blue-HARU);
}


/* --- MAIN ---- */

#main {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}
#voir_plus {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.btn_plus {
  background-color: var(--color-fond);
  width: max-content;
  padding: 2%;
  margin: 5%;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  font-family: var(--sans-serif);
  border-radius: 20px;
  text-align: center;
}
.btn_plus:hover {
  background-color: white;
  color: var(--color-fond);
  text-shadow: 0px 10px 8px rgba(20, 16, 16, 0.2);
  border: 5px solid var(--color-fond);
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
}

/* ---- CARDS ---- */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 3% 0 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-fond);
  border-radius: 20px;
  width: 80%;
  height: 90%;
  padding: 5%;
  box-shadow: 0px 10px 10px rgba(10, 12, 10, 0.15);
}

/* --- BOUTON VOIR PLUS --- */
#voir_plus {
  margin-bottom: 5%;
}

/* --- COMMENT ---- */
#Comment {
  padding: 5% 0 5% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-section);
  z-index: 20;
}

/* -- MEDIA -- */
#media{
  margin: 20% 0 20% 0;
}

/* -- Formulaire -- */
#formulaire{
  border :none; 
  width: 90%;
  background-color: var(--color-fond);
  padding: 5%;
  margin: 5% 0 5% 0;
}

#formulaire input{
  margin: 7% 0 2% 0;
  font-family: var(--font-text);
  border-radius: 20px;
  border: none;
  padding:3%;
  text-align: center;
}
#formulaire textarea{
  margin: 5% 0 5% 0;
  border-radius: 5px;
  font-family: var(--font-text);
padding: 2%;
}
#envoyer{
  background-color: var(--color-blue-HARU);
  color:var(--color-section);
  font-weight: bold;
}
#envoyer:hover{
  cursor: pointer;
}
.choiceBox{
  display: flex;
  flex-direction: column;
}
  /* Page contact */
  .full input{
    width:90%;
    border: 1px solid black;
      }

@media screen and (min-width: 768px) {

  /* --- NAV --- */
  .menu ul {
    width: 150%;
    margin-left: 50px;
  }

  /* ----- Hero ---- */
  #hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: auto;
  }
  #hero div {
    width: 100%;
    margin-right: 5%;
  }
  #img-hero img {
    height: 100%;
    display: block;
    height: 600px;
  }
  .hero-text{
    height: 35rem;
  }
  #text-media {
    display: block;
    align-content: space-around;
  }
  /* -- MEDIA -- */
#media{
  margin: 10% 0 10% 0;
}

  /* ---- MAIN ----- */

  #main {
    margin-top: 10%;
  }

  /* ----CARDS--- */
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .card {
    margin: 2%;
    padding: 3%;

  }

  /* Formulaire */
  .identiter{
    display: flex;
    justify-content: space-between;
  }
  #firstName{
    width: 40%;
  }
  #lastName{
    width: 40%;
  }


  
}
@media screen and (min-width: 1024px) {
.text-media{
  padding:0 0 0 3%;
}

  #media {
    margin: 2% 0 2% 0;
    display: flex;
    align-items: center;
  }
  .card-media-description{
    margin:0 0 5% 0;
  }
 
  #media div {
    width: 90%;
  }
  #img-meida img {
    size: 100%;
    border-radius: 20px;
  }
  #text-media {
    display: block;
    align-content: space-around;
    
  } #media-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 5%;
  }
  #media-reverse div {
    width: 50%;
  }
/* --- HERO--- */
  #img-hero {
    height: 10%;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  }

  /* ---Comment --- */
  #Comment {
    flex-direction: row;
  }

  #positionFormulaire{
    display: flex;
    justify-content: center;
  }
  #formulaire{
    width: 50%;
  }
}
