*{
  --color-fond: #e6c27f;
--color-fond-hero: #fffcf5;
--color-footer: #8e5552;
--color-blue-HARU: #557373;
--color-section: #ECE8DF;
}

#burger {
  width:30px;
  height:2px;
  background:var(--color-fond);
  display:inline-block;
  position:relative;
}
#burger::before,
#burger::after {
  content:'';
  width:30px;
  height:2px;
  background:var(--color-fond);
  display:inline-block;
  position:absolute;
  transform-origin: center;
  transition: all 0.3s ease;
}
#burger::before {
  top:-7px;
}
#burger::after {
  top:7px;
}

#burger.open {
  background:transparent;
}
#burger.open::before {
  transform: rotate(45deg);
  top:0;
}
#burger.open::after {
  transform: rotate(-45deg);
  top:0;
}

header {
  position:relative;
  max-width:500px;
}
.menu_mobil {
  background:rgb(247, 215, 129);
  position:absolute;
  width:100%;
  left:0;
  top:100%;
  padding:10px 0;
  transform:scaleY(0);
  transform-origin:center top;
  transition:all 0.3s ease;
}
.menu_mobil.open {
  transform:scaleY(1);
}
.menu_mobil li {
  padding:10px 0;
  text-align:center
}
#menu_desktop{
  display: none;
}
ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
li {
  list-style: none;
}

a{
  text-decoration: none;
}

@media  screen and (min-width: 768px) {
  #burger{
    display: none;
  }
  #menu_desktop{
    display: block;
  }
  #menu_desktop ul{
    flex-direction: row;
  }
}